// FONT

$default-font: 1.6rem;
$reg-subtitle: 1.8rem;

// COLORS
$color-primary: #3534B1;
$color-primary-dark: #363684; 
$color-primary-light: #AAA9DE;

$color-tertiary: #005968;
$color-black: #131313;
$color-black-light: #3F3F3F;
$color-black-accent: #2D2D36;
$color-white: #fff;
$color-white-darker: #DEDEDE;
$color-white-darker2: #EAEAEA;

$color-text-dark: #777777;
$color-grey: #D3D3D3;
$color-grey-light: #E0E0E0;
$color-grey-light2: #C4C4C4;
$color-mid-grey: #6C7489;

// FONT VARIABLES
$font-primary: 'Karla', sans-serif;
$font-display: 'OSTD', sans-serif;

// GRID
$grid-center: center-start / center-end;


// BORDER

$default-border:6px;

// TRANSITION

$default-transition: all 0.2s ease-in-out;

// SHADOWS

$default-box-shadow: 0px 10px 50px rgba(139, 163, 185, 0.4), 0px 60px 30px rgba(0, 0, 0, 0.02);


$bp-desktop-md: 72.5em; //1160px
$bp-tab-lg: 64em; // 1024
$bp-tab-md: 61.8em; // 990px
$bp-tab-pt: 53.75em; // 860px
$bp-tab-sm: 48em; // 768px
$bp-mobile-lg: 40em; // 640px
$bp-mobile-md: 35.5em; // 568px
$bp-mobile-sm: 25.8em; // 414px