.footer-cont {
    background:$color-primary-dark;
    padding:6rem 0 3rem;
}

.footer {

    @include six-column;
    grid-template-rows: max-content min-content;
    grid-row-gap: 5rem;
    color:$color-white;

    @media only screen and (max-width: $bp-tab-pt) {
        grid-template-rows: max-content max-content min-content;
    }

    a {color: $color-white;}

    /** LOGO COLUMN **/

    &__logo-col {
        grid-column:col-start 1 / col-start 4;
        display:flex;
        flex-direction:column;
        align-items: start;

        @media only screen and (max-width: $bp-tab-lg) {
            grid-column:col-start 1 / col-start 2;
        }

        @media only screen and (max-width: $bp-tab-pt) {
            grid-column: center-start / center-end;
            align-items: center;
        }

        
    }

    &__logo {
        margin-bottom: 4rem;

        @media only screen and (max-width: $bp-tab-lg) {
            width:30rem;
        }

        @media only screen and (max-width: $bp-mobile-md) {
            width:25rem;
        }
    }

    &__investor-btn {
        border:2px solid #B5B5FF;
        padding:3px 10px;
        display: flex;
        align-items: center;
        color:$color-primary-light;

        &__icon {
            margin-right:2rem;
        }
    }

    /** CONTACT COLUMN **/

    &__contact-col {
        grid-column:col-start 4 / col-end 10;

        @media only screen and (max-width: $bp-desktop-md) {
            grid-column:col-start 4 / col-end 9;
        }

        @media only screen and (max-width: $bp-tab-lg) {
            grid-column:col-start 2 / col-end 8;
        }

        @media only screen and (max-width: $bp-tab-pt) {
            grid-column:col-start 1 / col-end 8;
        }

        @media only screen and (max-width: $bp-mobile-lg) {
            grid-column: center-start / center-end;
        }
    }

    .infocolumn {
        list-style:none;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-column-gap: 4rem;

        &__item {
            display:flex;
            flex-direction:column;
            margin-bottom: 3rem;
            margin-left: 3rem;

            @media only screen and (max-width: $bp-tab-pt) {
                margin-left:0;
            }
        }

        &__label {
            font-size: 1.1rem;
            color:$color-primary-light;
            text-transform: uppercase;
            margin-bottom:1.5rem;
        }

        &__info {
            font-size:1.4rem;
            line-height:2.4rem;
        }
    }

    /** LINKS COLUMN **/

    &__links-col {
        grid-column: col-start 11 / -1;
        display:grid;
        grid-template-columns: 1fr 1fr;

        @media only screen and (max-width: $bp-desktop-md) {
            grid-column:col-start 10 / -1;
        }

        @media only screen and (max-width: $bp-tab-lg) {
            grid-column:col-start 9 / -1;
        }

        @media only screen and (max-width: $bp-mobile-lg) {
            grid-column: center-start / center-end;
        }

    }

    .footer-mainlinks, .footer-servicelinks {

        list-style:none;


        &__item {
            margin-bottom:1rem;
        }

        &__link {
            color:$color-white;
            text-transform:uppercase;
            font-size:1.4rem;
            font-weight:700;
        }
    }

    .footer-servicelinks {

        justify-self: end;

        @media only screen and (max-width: $bp-mobile-lg) {
            justify-self: start;
        }

        &__link {
            color:$color-primary-light;
        }
    }

    &__copyright {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        border-top:1px solid #5959BB;
        padding:3rem 0 0;
        font-size: 1.2rem;

        @media only screen and (max-width: $bp-tab-pt) {
            grid-row: 3 / -1;
        }

        @media only screen and (max-width: $bp-mobile-lg) {
            grid-row: 4 / -1;
            grid-column: center-start / center-end;
        }
    }
}

/** COPYRIGHT **/

.copyright {

    display:flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-tab-pt) {
        flex-direction:column;
    }

    &__content {
        display:flex;

        @media only screen and (max-width: $bp-tab-pt) {
            display: block;
        }

    }

    &__text {
        margin-right:2rem;

        @media only screen and (max-width: $bp-tab-pt) {
            display: block;
            margin-bottom:1rem;
        }
    }

    &__link {
        border-left:1px solid $color-primary-light;
        padding:0 2rem;

        @media only screen and (max-width: $bp-tab-pt) {
           margin-bottom:2rem;
           border-left:0;
           border-right:1px solid $color-primary-light;
        }

        &.first-child {
            @media only screen and (max-width: $bp-tab-pt) {
                padding-left:0 !important;
             }
        }
    }
   

    &__siteby {
        @media only screen and (max-width: $bp-tab-pt) {
            margin-top:2rem;
            display:block;
         }
    }
}