.slide-buttons {

    grid-column:center-start / center-end;
    display:flex;
    margin-left: auto;
    position: absolute;
    bottom: 10vh;
    right: 0;
    align-items: center;
    z-index: 2;

    &__circle {
        background: #fff;
        width: 7px;
        height: 7px;
        border-radius: 30px;
        margin: 0 4px;
        
        &.active {
            background:transparent;
            border:2px solid $color-white;
            width: 10px;
            height: 10px;
        }
    }
}