h1, h2, h3, h4, h5, h6 {
    font-family: $font-display;
    font-weight:400;
}

h1 { font-size:5.6rem;}

h2 {font-size:3rem;

  @media only screen and (max-width: $bp-tab-sm) {
    font-size:2.5rem;
  }
}

h3 {font-size:2.2rem;}

/* MAIN HEADING */

.heading-tag {

  margin-top: 10rem;
  
  &__title {
    color:$color-black;
    margin-bottom: 2rem;
  }

  &__subtitle {
    font-size: $reg-subtitle;
    color:$color-mid-grey;

    @media only screen and (max-width: $bp-mobile-lg) {
      font-size:1.5rem;
   }
  }
}

/* SMALL HEADING */

.heading-tag-small {

  &__title {
    font-family:'Karla', sans-serif;
  }

  &__subtitle {
    font-size:1.4rem;
  }
}




/* BODY -  FONT */

  @font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla/Karla-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla/Karla-Bold.ttf');
    font-weight: 700;
    font-style: normal;
  }
 
  /* HEADING -  FONT */
 
  @font-face {
    font-family: 'OSTD';
    src: url('../fonts/Optima/OSTD.otf');
    font-weight: 400;
    font-style: normal;
  }
