
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


/*----------------------------------------*/
/*  5. Main Menu Section Style
/*----------------------------------------*/
.nav-brand {
  max-width: 280px;
}

.dope-btn {
  background-color: #4a7aec;
}

.dope-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dope-nav-container.breakpoint-on .overlay-show {
  opacity: 1;
  visibility: visible;
}

.dope-nav-container .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  content: " ";
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.65);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.dopenav ul li.megamenu-item > a::after,
.dopenav ul li.menu-item-has-children > a::after {
  color: #fff;
}

.dopenav ul li:hover > a:after {
  color: #ffc000 !important;
}

.dope-nav-container.dope-sticky {
  background-color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0 2px 3px 0 rgba(122, 79, 79, 0.18);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.18);
}

.nav-brand {
  max-width: 280px;
}

.dope-btn {
  background-color: #4a7aec;
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-transparent {
  background-color: transparent !important;
}

.dope-nav-container {
  position: relative;
  z-index: 100;
}

.dope-nav-container * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dope-nav-container a {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
}

.dope-nav-container a:hover,
.dope-nav-container a:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: none;
}

.dope-nav-container.dope-sticky {
  position: fixed;
  z-index: 1010;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dope-navbar {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content:flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.dope-navbar .nav-brand {
  font-size: 26px;
  font-weight: 500;
  color: #565656;
  display: inline-block;
  margin-right: 30px;
}

.dope-navbar .nav-brand:focus,
.dope-navbar .nav-brand:hover {
  font-size: 26px;
  font-weight: 500;
}

.dopenav ul li {
  display: inline-block;
  clear: both;
  position: inherit;
  z-index: 10;
}

.dopenav ul li.menu-item-has-children {
  position: relative;
  z-index: 10;
}

.dopenav ul li.menu-item-has-children ul li {
  position: relative;
  z-index: 10;
}

.dopenav ul li ul li {
  display: block;
}

.dopenav ul li ul li a {
  padding: 6px 20px;
}

.dopenav ul li ul li a:hover {
  padding-left: 24px;
}

.dopenav ul li a {
  padding: 20px;
  display: block;
}

.dopenav ul li .megamenu li a {
  padding: 6px 20px;
  color: #000;
}

.dopenav ul li div.single-mega a {
  height: auto;
  line-height: 1;
}

/* Down Arrow Icon for Megamenu */
.icon-dope-nav-down-arrow {
  font-family: 'IcoFont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dope-nav-down-arrow:before {
  content: "\eab2";
}

.dopenav ul li.menu-item-has-children > a:after,
.dopenav ul li.megamenu-item > a:after {
  font-family: 'IcoFont';
  content: "\eab2";
  font-size: 12px;
  padding-left: 5px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.sub-menu {
  border-radius: 3px;
  -webkit-box-shadow: -1px 2px 19px 3px rgba(14, 0, 40, 0.05);
          box-shadow: -1px 2px 19px 3px rgba(14, 0, 40, 0.05);
}

.sub-menu .menu-item-has-children a:after {
  color: #000 !important;
}

.dopenav ul li ul li.menu-item-has-children > a::after {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  right: 10px;
  z-index: 3;
}

/* button css */
.dope-btn {
  position: relative;
  z-index: 1;
  min-width: 120px;
  padding: 0 25px;
  line-height: 42px;
  height: 42px;
  background-color: #1abc9c;
  border-radius: 50px;
  color: #fff !important;
  margin-left: 30px;
  text-align: center;
}

.dope-btn:hover,
.dope-btn:focus {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* sub-menu Toggle */
.dd-trigger {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 500;
  border-radius: 0;
  display: none;
}

/* Close Icon */
.dopecloseIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 12;
  display: none;
}

.dopecloseIcon .cross-wrap {
  width: 26px;
  height: 26px;
  cursor: pointer;
  position: relative;
}

.dopecloseIcon .cross-wrap span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 6px;
  background: #232323;
}

.dopecloseIcon .cross-wrap span.top {
  top: 12px;
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dopecloseIcon .cross-wrap span.bottom {
  bottom: 12px;
  left: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* navbarToggler */
.dope-navbar-toggler {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.dope-navbar-toggler .navbarToggler {
  display: inline-block;
  cursor: pointer;
}

.dope-navbar-toggler .navbarToggler span {
  position: relative;
  background-color: #363684;
  border-radius: 3px;
  display: block;
  height: 2px;
  margin-top: 5px;
  padding: 0;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  width: 30px;
  cursor: pointer;
}

.dope-navbar-toggler .navbarToggler span:nth-of-type(1) {
  width: 20px !important;
}

.dope-navbar-toggler .navbarToggler span:nth-of-type(3) {
  width: 15px !important;
}

.dope-navbar-toggler .navbarToggler.active span:nth-of-type(1) {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  top: 6px;
  width: 30px !important;
}

.dope-navbar-toggler .navbarToggler.active span:nth-of-type(2) {
  opacity: 0;
}

.dope-navbar-toggler .navbarToggler.active span:nth-of-type(3) {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
  top: -8px;
  width: 30px !important;
}

.dopenav ul li .megamenu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  background-color: #ffffff;
  z-index: 200;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.dopenav ul li .megamenu .single-mega.cn-col-5 {
  width: 20%;
  float: left;
  padding: 15px;
  border-right: 1px solid #f2f4f8;
}

.dopenav ul li .megamenu .single-mega.cn-col-5:last-of-type {
  border-right: none;
}

.dopenav ul li .megamenu .single-mega.cn-col-4 {
  width: 25%;
  float: left;
  padding: 15px;
  border-right: 1px solid #f2f4f8;
}

.dopenav ul li .megamenu .single-mega.cn-col-4:last-of-type {
  border-right: none;
}

.dopenav ul li .megamenu .single-mega.cn-col-3 {
  width: 33.3333334%;
  float: left;
  padding: 15px;
  border-right: 1px solid #f2f4f8;
}

.dopenav ul li .megamenu .single-mega.cn-col-3:last-of-type {
  border-right: none;
}

.dopenav ul li .megamenu .single-mega .title {
  font-size: 16px;
  border-bottom: 1px solid rgba(208, 208, 208, 0.5);
  padding: 8px 12px;
}

.dopenav ul li .sub-menu li a {
  border-bottom: 1px solid rgba(208, 208, 208, 0.5);
  color: #000;
  font-size: 14px;
}

.dopenav ul li .sub-menu li a:hover {
  color: #000 !important;
}

.dopenav ul li .sub-menu li:last-child a {
  border-bottom: none;
}

.dopenav ul li .sub-menu li .sub-menu li a {
  border-bottom: 1px solid rgba(208, 208, 208, 0.5);
}

.dopenav ul li .sub-menu li .sub-menu li:last-child a {
  border-bottom: none;
}

.dopenav ul li .sub-menu li .sub-menu li .sub-menu li a {
  border-bottom: 1px solid rgba(242, 244, 248, 0.7);
}

.dopenav ul li .sub-menu li .sub-menu li .sub-menu li:last-child a {
  border-bottom: none;
}

.dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li a {
  border-bottom: 1px solid rgba(242, 244, 248, 0.7);
}

.dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li:last-child a {
  border-bottom: none;
}

.dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li a {
  border-bottom: 1px solid rgba(242, 244, 248, 0.7);
}

.dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li:last-child a {
  border-bottom: none;
}

.dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li a {
  border-bottom: 1px solid rgba(242, 244, 248, 0.7);
}

.dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li:last-child a {
  border-bottom: none;
}

.dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li a {
  border-bottom: 1px solid rgba(242, 244, 248, 0.7);
}

.dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li:last-child a {
  border-bottom: none;
}

.dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li a {
  border-bottom: 1px solid rgba(242, 244, 248, 0.7);
}

.dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li:last-child a {
  border-bottom: none;
}

/* Desktop Area CSS */
.breakpoint-off .dopenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.breakpoint-off .dopenav ul li .sub-menu {
  width: 180px;
  position: absolute;
  background-color: #ffffff;
  top: 120%;
  left: 0;
  z-index: 100;
  height: auto;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  opacity: 0;
  visibility: hidden;
}

.breakpoint-off .dopenav ul li .sub-menu li .sub-menu {
  top: 10px;
  left: 180px;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
}

.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu,
.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu,
.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu,
.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu,
.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu,
.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu,
.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu,
.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu {
  opacity: 0;
  visibility: hidden;
  top: 120%;
}

.breakpoint-off .dopenav ul li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.breakpoint-off .dopenav ul li .sub-menu li:hover .sub-menu,
.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li:hover .sub-menu,
.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li:hover .sub-menu,
.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li:hover .sub-menu,
.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li:hover .sub-menu,
.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li:hover .sub-menu,
.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li:hover .sub-menu,
.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li:hover .sub-menu,
.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  top: -10px;
}

.breakpoint-off .dopenav ul li .megamenu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  left: 0;
  top: 120%;
  background-color: #ffffff;
  z-index: 200;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.breakpoint-off .dopenav ul li.megamenu-item:hover .megamenu,
.breakpoint-off .dopenav ul li.megamenu-item:focus .megamenu {
  top: 100%;
  visibility: visible;
  opacity: 1;
}

/* Mobile/Tablet Nav CSS */
.breakpoint-on .dopecloseIcon {
  display: block;
}

.breakpoint-on .dope-navbar-toggler {
  display: block;
}

.breakpoint-on .dope-navbar .dope-menu {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: -310px;
  z-index: 1000;
  width: 300px;
  height: 100%;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  padding: 0;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
}

.breakpoint-on .dope-navbar .dope-menu.menu-on {
  left: 0;
}

.breakpoint-on .dopenav ul li {
  display: block;
  position: relative;
  clear: both;
  z-index: 10;
}

.breakpoint-on .dopenav ul li a {
  padding: 10px 20px;
}

.breakpoint-on .dopenav ul li .sub-menu {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.breakpoint-on .dopenav ul li .sub-menu li .sub-menu {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.breakpoint-on .dopenav ul li.megamenu-item {
  position: relative;
  z-index: 10;
}

.breakpoint-on .dd-trigger {
  height: 38px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.breakpoint-on .dopenav ul li .sub-menu,
.breakpoint-on .dopenav ul li .megamenu {
  display: none;
}

.breakpoint-on .dopenav {
  padding-top: 70px;
}

.breakpoint-on .dopenav ul li .megamenu {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.breakpoint-on .dopenav ul li .megamenu .single-mega.cn-col-5,
.breakpoint-on .dopenav ul li .megamenu .single-mega.cn-col-4,
.breakpoint-on .dopenav ul li .megamenu .single-mega.cn-col-3 {
  width: 100%;
  border-right: none;
  border-bottom: 1px solid #f2f4f8;
}

.breakpoint-on .dopenav > ul > li > a {
  background-color: #f2f4f8;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: #000 !important;
}

.breakpoint-on .dopenav > ul > li > a:after {
  color: #000 !important;
}

.breakpoint-on .dopenav ul li:hover > a::after {
  color: #000 !important;
}

.breakpoint-on .dopenav ul li ul.sub-menu li ul li {
  margin-left: 15px;
}

.breakpoint-on .dope-btn {
  width: calc(100% - 30px);
  margin: 30px 15px;
}

.breakpoint-on .dopenav ul li.megamenu-item > a::after,
.breakpoint-on .dopenav ul li.menu-item-has-children > a::after {
  position: absolute;
  right: 20px;
  z-index: 5;
}

.breakpoint-on .dopenav ul li.menu-item-has-children.active > a:after,
.breakpoint-on .dopenav ul li.megamenu-item.active > a:after {
  color: #000;
}

/* sub-menu RTL CSS */
.sub-menu-rtl.breakpoint-off .dopenav ul li .sub-menu {
  left: auto;
  right: 0;
}

.sub-menu-rtl .dopenav ul li a,
.sub-menu-rtl .dopenav ul li .megamenu .single-mega .title {
  text-align: right;
}

.sub-menu-rtl.breakpoint-off .dopenav ul li .sub-menu li .sub-menu,
.sub-menu-rtl.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu,
.sub-menu-rtl.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu,
.sub-menu-rtl.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu,
.sub-menu-rtl.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu,
.sub-menu-rtl.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu,
.sub-menu-rtl.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu,
.sub-menu-rtl.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu,
.sub-menu-rtl.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu {
  right: 180px;
  left: auto;
  opacity: 0;
  visibility: hidden;
  top: 10px;
}

.sub-menu-rtl.breakpoint-off .dopenav ul li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  top: 90%;
}

.sub-menu-rtl.breakpoint-off .dopenav ul li .sub-menu li:hover .sub-menu,
.sub-menu-rtl.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li:hover .sub-menu,
.sub-menu-rtl.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li:hover .sub-menu,
.sub-menu-rtl.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li:hover .sub-menu,
.sub-menu-rtl.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li:hover .sub-menu,
.sub-menu-rtl.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li:hover .sub-menu,
.sub-menu-rtl.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li:hover .sub-menu,
.sub-menu-rtl.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li:hover .sub-menu,
.sub-menu-rtl.breakpoint-off .dopenav ul li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.sub-menu-rtl.breakpoint-on .dopenav ul li ul.sub-menu li ul li {
  margin-left: 0;
  margin-right: 15px;
}

.menu-btn {
  margin-left: 32px;
  display: inline;
  border-radius: 26px;
  -webkit-box-shadow: 0px 11px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 11px 15px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 8px 25px;
  font-size: 14px !important;
  margin-left: 16px;
  font-weight: 600;
}

.menu-btn:hover {
  color: #fff !important;
}

.menu-btn {
  background: #ffc000;
}

.home-two .dope-nav-container a {
  color: #000;
}

.home-two .dopenav ul li.megamenu-item > a::after,
.home-two .dopenav ul li.menu-item-has-children > a::after {
  color: #000;
}

.home-two .dope-navbar-toggler .navbarToggler span {
  background-color: #000;
}

.home-two .dopenav ul li:hover > a,
.home-two .dopenav ul li:hover > a::after {
  color: #621cf6 !important;
}

.home-two .menu-btn {
  background: #621cf6;
  color: #fff !important;
}

.home-two .menu-btn:hover {
  color: #fff !important;
}

/*----------------------------------------*/
/*  32. Responsive Styles
/*----------------------------------------*/


@media only screen and (min-width: 1000px) {
    .mobile_view_responsive_description_project_details_show {
        visibility: hidden;
        clear: both;
        display: none;
    }

    .mobile_view_responsive_header_icon_project_details_desk {
         visibility: hidden;
        clear: both;
        display: none;
    }

    .hide_this_header_menu_in_desktop {
      visibility: hidden;
        clear: both;
        display: none;
    }
}

@media only screen and (max-width: 999px) {
  .hide_this_header_in_mobile_and_only_show__on_desktop {
    visibility: hidden;
    clear: both;
    display: none;
  }
}


/*IF MOBILE*/
@media only screen and (max-width: 667px) {
    .mobile_view_responsive_header_title{
        text-align: center;
        font-size: 25px;
        padding-bottom: 6px;
        font-weight: bold;
    }

    .mobile_view_responsive_header_title_project_page {
        text-align: center;
        font-size: 25px;
        padding-bottom: 6px;
        font-weight: bold;
        line-height: 25px;
        margin-top: 50px;
    }

    .mobile_view_responsive_header_banner_project_details {
        max-height: 110px;
    }

    .mobile_view_responsive_header_description_project_page {
        margin-top: -34px;
        line-height: 18px;
    }

    .mobile_view_responsive_header_description {
        text-align: center;
    }

    .mobile_view_responsive_contact_details {
        text-align: center;
    }

    .mobile_view_responsive_card_message_form {
        position: relative;
        top: -15px;
        width: 102%;
        margin-left: -2px;
    }

    .mobile_view_responsive_card_location_details {
        float: center;
        width: 100%;
        position: all;
    }

    .mobile_view_responsive_button_form {
        width: auto;
        height: 50px;
        
    }

    .mobile_view_responsive_bars_menu_toggle {
        padding-left: 50px;
        float: left;
        position: relative;
    }

    .mobile_view_responsive_bars_menu_toggle_home {
        padding-left: 20px;
    }

    .mobile_view_responsive_heading_lign_height {
        margin-top: 50px;
    }

    h1.mobile_view_responsive_project_page_bottom_banner {
        text-align: center;
        margin-bottom: 30px;
        font-size: 30px;
    }

    .mobile_view_responsive_button_project_page {
        text-align: center;
        padding: .9rem 6rem;
    }

    .mobile_view_responsive_button_project_details {
        margin-top: -178px;
        padding: .6rem 2rem;
    }

    .mobile_view_responsive_header_project_details {
        margin-top: 40px;
        text-transform: none;
        text-align: justify;
        margin-left: -100px;
    }

    .mobile_view_responsive_description_project_details_hide {
        visibility: hidden;
        clear: both;
        display: none;
    }

    .mobile_view_responsive_header__description_project_details {
        text-align: justify;
        color: #777777;
    }

    .mobile_view_responsive_card_location_project_details {
        position: relative;
        margin-top: 140px;
        width: 345px;
        height: auto;
    }

    .mobile_view_responsive_accordion {
        text-align: left;
    }

    .mobile_view_responsive_accordion_arrow_icon {
        visibility: hidden;
        clear: both;
        display: none;
    }

    .mobile_view_responsive_experience_section {
        position: relative;
    }

    .mobile_view_responsive_card_experience_section {
        position: relative;
        margin-top: 140px;
        width: 345px;
    }

    .mobile_view_responsive_card_header_experience_section {
        margin-top: -40px;
    }

    .mobile_view_responsive_image_experience {
        margin-top: -130px;
    }

    .mobile_view_responsive_header_menu {
        font-size: 13px;
        margin-left: -100px;
        text-align: center;
    }

    .mobile_view_responsive_header_menu_hide_this {
        visibility: hidden;
        clear: both;
        display: none;
    }

    .mobile_view_responsive_header_menu_show_this {
        visibility: visible;
    }

    .mobile_view_responsive_iconic_project_details {
        text-transform: none;
        text-align: all;
        margin-left: -50px;
    }

    img.mobile_view_responsive_icon_height_project_details {
        height: 25px; 
        width: 25px;
    }

    .mobile_view_responsive_header_icon_project_details {
        visibility: hidden;
        clear: both;
        display: none;
        text-transform: none;
    }

    .hide_this_header_in_mobile_and_only_show__on_desktop {
      visibility: hidden;
        clear: both;
        display: none;
        text-transform: none;
    }
}

.nav__logo_padding {
  padding-top: 10px;
}