/** INTRO TEXT **/

.intro-text {
    grid-column:center-start / center-end;
    text-align:center;
    margin-bottom:5rem;

    .heading-tag__subtitle {
        width:80%;
        text-align:center;
        margin:0 auto;

        @media only screen and (max-width: $bp-tab-sm) {
            width:100%;
        }
    }
}


/** ROTATOR SECTION **/

.rotator-content {
    grid-column: center-start / col-end 6;

    
    @media only screen and (max-width: $bp-desktop-md) {
        grid-column: center-start / col-end 5;
        padding-right: 2rem;
    }

    @media only screen and (max-width: $bp-tab-sm) {
        grid-column: center-start / center-end;
    }

}

.home-services {

    
    &.active {display:grid;}

    display:grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: max-content max-content;
    margin-top: 6rem;
    align-content: flex-start;
    grid-column-gap: 4.5rem;
    grid-row-gap:4rem;
    display:none;

    @media only screen and (max-width: $bp-tab-sm) {
        grid-column-gap:2rem;
    }

    &__number {
        grid-column: 1 / 2;
        font-size:12rem;
        color:$color-grey-light;
        line-height:1;

        @media only screen and (max-width: $bp-tab-sm) {
            font-size:10rem;
        }

        @media only screen and (max-width: $bp-mobile-sm) {
            font-size:8rem;
        }
    }

    &__heading {
        grid-column: 2 / 3;

        &::after {
            content: '';
            width: 13rem;
            border-bottom: 1px solid $color-grey-light;
            display: block;
            margin:30px 0 0px;
        }
    }

    &__slidenav {
        grid-column: 1 / 2;
        grid-row:2 / 3;
        display:grid;
        grid-template-columns: repeat(2, min-content);
        grid-column-gap: 1.5rem;
        margin-top:4rem;

        
        svg {

            @media only screen and (max-width: $bp-tab-sm) {
                width:4.5rem;
                height:4.5rem;
              }
            }
       

    }

    &__content {
        grid-column: 2 / 3;
        grid-row:2 / 3;

        .service-list {
            list-style:none;

            &__title {
                font-size:1.8rem;
                text-transform:uppercase;
                font-family:'Karla', sans-serif;
                margin-bottom:2rem;
            }

            &__bullets:before {
                position: relative;
                top: 0;
                content: "";
                display: inline-block;
                width: 0.5em;
                height: 0.5em;
                border-right: .05rem solid $color-black;
                border-top: .05rem solid $color-black;
                transform: rotate(45deg);
                margin-right: 1em;
                top:-1px;

                @media only screen and (max-width: $bp-tab-sm) {
                    width: 0.4em;
                    height: 0.4em;
                }
            }

            &__link:link,
            &__link:visited {
                font-size:1.8rem;
                color:$color-black;

                @media only screen and (max-width: $bp-tab-sm) {
                    font-size:1.6rem;
                }
            }


            &__link:hover,
            &__link:active {
                margin-left:.5rem;
            }

        }
    }

    &__logo {
        grid-column: 1 / -1;

    }

    
    .slide-logo {
        display:flex;
        justify-content: space-between;
        list-style:none;
        margin: 3rem  0;

        &__list:not(:last-child) {
            
            @media only screen and (max-width: $bp-tab-sm) {
                margin-right:2rem;
            }
        }

        &__link {

        }

        &__img {
            max-width:100%;
        }
    }
}


/** ROTATOR SLIDE **/

.rotator-slide {

    grid-column: col-end 6 / center-end;
    overflow:hidden;
    position: relative;
    cursor:pointer;
    justify-self:end;
    padding-bottom:8rem;


      
    @media only screen and (max-width: $bp-desktop-md) {
        grid-column:  col-end 5 / center-end;
    }

    @media only screen and (max-width: $bp-tab-sm) {
        padding-bottom:0;
    }



    &__bg-circle {
        border: 2px solid #00000020;
        width: 74.5rem;
        height: 74.5rem;
        border-radius: 50%;
        position: absolute;
        right: -40%;
        top: -2%;
    }

    &__item {

        display:none;

        .leisure {
            position: absolute;
            top: -4%;
            left: 75%;
        }

        .residential {
            position: absolute;
            top: 5%;
            left: 55%;
        }
    }

    &__item.active {
        position: relative;
        width: 100%;
        height: auto;
        border-radius: 50%;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        margin-top:10rem;
        display:flex;

        
        @media only screen and (max-width: $bp-tab-sm) {
            margin-top:2rem;
        }

       
    }

    &__icon {
        text-align: center;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        border:.4rem solid $color-white;
        border-radius:50%;
        padding:4rem;
        width:10rem;
        height:10rem;
        display:flex;
        justify-content:center;
        align-items: center;

        @media only screen and (max-width: $bp-tab-sm) {
            width:5rem;
            height:5rem;
            border:.3rem solid $color-white;
        }

        img {
            @media only screen and (max-width: $bp-tab-sm) {
                width:35px;
            }
        }

    }

    &__iconsmall {
        background:$color-primary;
        display:flex;
        align-items: center;
        justify-content: center;
        padding:1rem;
        border-radius:50%;
        width:3rem;
        height:3rem;

    }

    &__figure {
        width:100%;
        height:100%;
        right: 0;
        top: 0;
    }

    &__img {
        width:100%;
    }
}


/** LOCATION **/

.locations {
    margin-top:10rem;
    position:relative;

    @media only screen and (max-width: $bp-tab-sm) {
        margin-top:5rem;
    }

    .viewall {
        position:absolute;
        right:0;
        top:5rem;
        color:$color-primary;

        
        @media only screen and (max-width: $bp-mobile-lg) {
            position:relative;
            top:0;
        }
    }

    .heading-tag {
        &__subtitle {
            width:50%;


            @media only screen and (max-width: $bp-tab-sm) {
                width:65%;
            }

            
            @media only screen and (max-width: $bp-mobile-lg) {
                margin-bottom:2rem;
                width:100%;
            }
        }
    }
}

.featured-location {

    list-style:none;
    display:grid;
    grid-template-columns: repeat(3, max-content);
    grid-column-gap: 8rem;
    margin-top:8rem;

    @media only screen and (max-width: $bp-tab-sm) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (max-width: $bp-mobile-lg) {
        grid-column-gap: 2rem;
        margin-top:4rem;
    }

    @media only screen and (max-width: $bp-mobile-md) {
        display:none;
    }


    &__list:not(:last-child) {
        border-right:1px solid $color-grey-light;
        padding-right:8rem;

        @media only screen and (max-width: $bp-tab-sm) {
            padding-right:2rem;
        }

        @media only screen and (max-width: $bp-mobile-lg) {
            padding-right:0;
            border-right:0;
        }
    }

    &__list {

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        /* LOCATION TEXT COLOR WHEN ACTIVE */
        &.active {

            .featured-location__link {
                color:$color-black;

                &::after {
                    border-right: 0.2rem solid $color-black;
                    border-top: 0.2rem solid $color-black;
                }
            }

        }
    }

    &__label {
        font-size:1.1rem;
        text-transform: uppercase;
        color:$color-primary;
        font-weight:700;
        display:block;
        margin-bottom:2rem;
    }

    &__link:link,
    &__link:visited {
        color:$color-mid-grey;
        transition: all 0.2s ease-in-out;

        @media only screen and (max-width: $bp-mobile-lg) {
           font-size:1.5rem;
        }
    
        &:after {
                position: relative;
                top: 0;
                content: "";
                display: inline-block;
                width: 0.4em;
                height: 0.4em;
                border-right: 0.2rem solid $color-mid-grey;
                border-top: 0.2rem solid $color-mid-grey;
                transform: rotate(45deg);
                margin-left: 1em;
                top:-1px;
                transition: all 0.2s ease-in-out;

                @media only screen and (max-width: $bp-mobile-lg) {
                    margin-left: .5rem;
                 }
        }
    }

    &__link:hover,
    &__link:active {
        color:$color-black;

        &:after {
            margin-left:1.5em;
        }
    }


}


/** MAP **/
.map {
    grid-column:full-start / full-end;
    margin-top:4rem;
    grid-column-gap: 3rem;
    align-items:start;

    @media only screen and (max-width: $bp-tab-md) {
        grid-column-gap: 0;
    }

    &__box {
        grid-column:full-start / col-end 5;
        position: relative;
        z-index: 1;

        @media only screen and (max-width: $bp-tab-md) {
            grid-column:full-start / full-end;
        }
    }

    &__image {

        img {

            @media only screen and (max-width: $bp-tab-md) {
                width:80%;
            }

            @media only screen and (max-width: $bp-tab-sm) {
                width:100%;
            }
            
        }
    }

    &__pin {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        cursor: pointer;
        z-index:9999;

        

        img { cursor:pointer;
            
           @media only screen and (max-width: $bp-tab-md) {
            width:60%;
          }
        }
    }

    &__content {
        grid-column: col-end 5 / full-end;
        margin-top:20rem;
        background: $color-black-accent;
        padding:4rem 6rem;
        z-index:3;
        display:grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: max-content 4rem;


        @media only screen and (max-width: $bp-tab-md) {
             grid-column: center-start / center-end;
             padding:4rem 5rem;
             grid-row-gap:1rem;
             margin-top:-45rem;
         }

         @media only screen and (max-width: $bp-tab-sm) {
            margin-top:-35rem;
        }

         @media only screen and (max-width: $bp-mobile-lg) {
            grid-column: full-start / full-end;
            margin-top:-25rem;
        }

        @media only screen and (max-width: $bp-mobile-sm) {
            padding:4rem 3rem;
            margin-top:-20rem;
        }


    }
}

// MAP PINS

.pin {

    &--batangas {
        top: 15%;
        left: 45%;

        @media only screen and (max-width: 80em) {
            top: 15%;
            left: 60%;
        }

        @media only screen and (max-width: $bp-tab-md) {
            top: 14%;
            left: 22%;
        }
        
        @media only screen and (max-width: $bp-tab-sm) {
            top: 15%;
            left: 30%;
        }

    }

    &--batangas2 {
        top: 13%;
     left: 50%;

        @media only screen and (max-width: 80em) {
            top: 14%;
            left: 68%;
        }

        @media only screen and (max-width: $bp-tab-md) {
            top: 13%;
            left: 25%;
        }

        @media only screen and (max-width: $bp-tab-sm) {
            top: 13%;
            left: 34%;
        }
    }

    &--davao {
        top: 37%;
        left: 83%;

        @media only screen and (max-width: $bp-tab-md) {
            top: 36%;
            left: 43%;
        }

        @media only screen and (max-width: $bp-tab-sm) {
            top: 34%;
            left: 55%;
         }
    }
}

/** MAP CONTENT **/


/** FOR JS - LOCATION ACTIVE **/

.loc-01, .loc-02, .loc-03 {
    display:none !important;

    &.loc-active {
        display:block !important;
    }
}

.bullet-box__list.loc-01, .bullet-box__list.loc-02, .bullet-box__list.loc-03 {

    &.loc-active {
        
    }
}  


.loc-project {

    &__main {
        grid-column: 1 / 6;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media only screen and (max-width: $bp-mobile-md) {
            grid-column: 1 / -1;
        }
    }

    &__navigation {
        display:flex;
        justify-content:space-between;
    }

    &__heading {
        color:$color-white-darker2;
        margin-top:2rem;

        .heading-tag-small__title {
            font-size:3rem;

            @media only screen and (max-width: $bp-mobile-md) {
                width:40%;
                font-size:2.5rem;
            }

        }
        display:none;

        &.loc-active {
            display:block;
        }
    }


    &__featured-img {
        grid-column: 6 / 12;
        grid-row: 1 / 2;
        margin-top: -13rem;
        margin-left: auto;

        img {width:100%;}

        @media only screen and (max-width: $bp-tab-md) {
            grid-column: 7 / -1;
            margin-left:0;
        }
        

    }

    &__desc {
        grid-row:2 / -1;
        grid-column: 1 / 9;
        align-self:center;
        font-size:1.4rem;
        color:$color-grey-light2;

        @media only screen and (max-width: $bp-mobile-md) {
            grid-column: 1 / -1;
        }
    }

    &__readmore {
        grid-row: 2 / -1;
        grid-column: 9 / 12;
        align-self:center;
        justify-self:end;
        color:$color-grey-light2;

        @media only screen and (max-width: $bp-tab-pt) {
            grid-column: 10 / -1;
        }

        @media only screen and (max-width: $bp-mobile-md) {
            grid-column: 1 / -1;
            grid-row:2 / -1;
        }


    }

}

.bullet-box {


    &__heading {
        display:flex;
        align-items:center;
        padding-bottom:1rem;
        margin:2rem 0 3rem;
        border-bottom:1px solid $color-black-light;
        color:$color-primary-light;
    }

    &__icon {
        margin-right:1rem;
    }

    &__list {
        list-style:none;
        display:grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom:2rem;

        @media only screen and (max-width: $bp-mobile-md) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        margin-bottom:0.5rem;

        @media only screen and (max-width: $bp-tab-sm) {
            font-size:1.5rem;
        }

    }

    &__projtitle {
        color:$color-white;
        margin-bottom:2rem;
    }

    &__label {
        color:$color-white;
        margin-right:1rem;
    }

    &__link:link,
    &__link:visited {
        color:#c7c7ff;
    }

    &__link:hover,
    &__link:active {
        color:$color-white;
    }
}


/** ABOUT SECTION **/

.about {
  
    color:$color-white;
    margin-top:-30rem;
    z-index: 9999;
    display:grid;
    grid-template-columns: repeat(12, 1fr);

    @media only screen and (max-width: $bp-tab-md) {
        margin-top:4rem;
    }

    
    @media only screen and (max-width: $bp-mobile-lg) {
        grid-column: full-start / full-end;
        margin-top:0;
    }

   

    &__mgmt {
        grid-column:10 / -1;
        background:$color-primary-dark;
        justify-content: center;
        display:flex;
        justify-content: center;
        padding:3.6rem 0;

        @media only screen and (max-width: $bp-tab-lg) {
            padding: 7rem 1.5rem;
        }

        @media only screen and (max-width: $bp-tab-md) {
            grid-column:1 / -1;
            padding:3rem 0;
        }



        .mgmt-cont {
            display:flex;
            flex-direction: column;
            align-content: center;
            justify-content: space-between;

            @media only screen and (max-width: $bp-tab-md) {
                flex-direction: row;
                width:100%;
                justify-content:space-around;
                align-items: center;
            }

            @media only screen and (max-width: $bp-mobile-sm) {
                flex-direction: column;
                width:100%;
            }
        

            &>div:not(:last-child) {
                border-bottom:1px solid #5655A6;
                padding-bottom:4rem;

                @media only screen and (max-width: $bp-tab-md) {
                    border-bottom:0;
                    padding-bottom:0;
                }

                @media only screen and (max-width: $bp-mobile-sm) {
                    margin-bottom:3rem;
                }
            
            }
        }
    }

}

.box-content {

    background:url('../img/about_bg.png') no-repeat;
    background-size:cover;
    grid-column: 1 / -1;
    padding:7rem;

    @media only screen and (max-width: $bp-tab-md) {
        grid-column:1 / -1;
    }

    
    @media only screen and (max-width: $bp-mobile-lg) {
        padding:7rem 5rem;
     }

     
    @media only screen and (max-width: $bp-mobile-sm) {
        padding:7rem 3rem;
     }
 

    &__heading {
        display:flex;
        align-items:center;
        margin-bottom:3rem;
    }

    &__icon {
        margin-right:2rem;
    }


    &__text {
        p {margin-bottom:2rem;
        
        @media only screen and (max-width: $bp-mobile-lg) {
            font-size:1.5rem;
            line-height: 145%;
        }
    
        
        }
    }

    &__readmore {
        color:$color-white;
    }
}



/** NEWS SECTION **/

.news-section {
    grid-column: center-start / center-end;
    position: relative;

    .heading-tag__subtitle {
        width:45%;

        @media only screen and (max-width: $bp-tab-sm) {
            width: 65%;
        }

        @media only screen and (max-width: $bp-mobile-lg) {
            width: 100%;
            margin-bottom: 2rem;
        }
       
    }

    .viewall {
        position: absolute;
        right: 0;
        top: 5rem;
        color:
        #3534B1;

        @media only screen and (max-width: $bp-mobile-lg) {
            position:relative;
            top:0;
        }
    }
}

.news {margin-top:4rem;}